{% extends "auctions/layout.html" %}

{% block body %}
<div class="list-group">
    <a href="categories-page/computers" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Computers</h5>
      </div>
      <p class="mb-1">Find the computer you need. The category ranges from Apple, Microsoft, Google, Asus, HP, Dell.</p>
      <small>Shop Now</small>
    </a>
    <a href="categories-page/mobile" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Mobile</h5>
      </div>
      <p class="mb-1">Find the mobile device you need. The category ranges from Apple, Google, Samsung, Huwaei, Nokia</p>
      <small class="text-muted">Shop Now</small>
    </a>
    <a href="categories-page/cameras" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Cameras</h5>
      </div>
      <p class="mb-1">Find the camera you need. The category ranges from Nikon, Canon, Sony, Pentax, Olympus</p>
      <small class="text-muted">Shop Now</small>
    </a>
  </div>
{% endblock %}